Source: minijail
Section: utils
Priority: optional
Maintainer: Arthur Gautier <baloo@gandi.net>
Build-Depends: debhelper (>= 9),
	clang,
	make
Standards-Version: 3.9.8
Homepage: https://android.googlesource.com/platform/external/minijail/

Package: minijail
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: sandbox a process
 Runs program inside a sandbox.
